<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignWaveCreations44</title>
    <link rel="stylesheet" href="../create.css">
</head>
<body>
   
    <div class="main">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="name1" placeholder="Name of man">
        <input type="text" name="name2" placeholder="name of women">
        <input type="text" name="eventname" placeholder="event name">
        <input type="date" name="time">
        <input type="text" name="datetime" placeholder="date time">
        <input type="venue" name="venue" placeholder="enter venue">
        <input type="text" name="video" placeholder="videourl">
        <input type="text" name="mapurl" placeholder="mapurl">
        <input type="file" name="files" multiple>
        <button>submit</button>
    </form> 

</div>


  

</body>
</html>