<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main">

     
    
    

    <div class="form">

        <div class="imh">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="">
        </div>

        <div class="up">
        <h1>Welcome to Pinterest</h1>
        <h3>Find new ideas to try</h3>
    </div>

    <div class="inputs">
    <form action="/reg" method="post">
          <input type="text" name="username" placeholder="Username">
          <input type="text" name="fullname" placeholder="fullname">
          <input type="password" name="password" placeholder="Password">
          <button>Continue</button>

    </form></div>

    

    <div class="log">
        <p class="p1">By Continuing , you agree to Pinterest's</p><p class="p2">Terms of Service and Privacy Policy</p>

        <h3>Alredy have an account?? <a href="/login">Login</a></h3>
    </div>

</div>


</div>
</body>
</html>